body > div.ui.form.segment > div.ui.blue.submit.button > a {
color:white !important;
}body > div.ui.form.segment > div.ui.red.submit.button > a {
color:white !important;
}
body > div.ui.form.segment > h3 {
color:#564f8a !important;
}
a{
color:white ;
}
.img   {
padding: 7px;
color: #D73E66;
}

.clearfix ul {
  list-style: none;
  display: inline-table;
  
}
.ui.inverted.purple.menu {
background-color: #E21946 !important;
}
.clearfix li {
  float: left;
} 
.ui.cards > .card > .image > img, .ui.card > .image > img{
	height: 220px;
}
#mainGrid{
width:1000px;
margin-left:auto;
margin-right:auto;
text-align:center;
/*background-image:url("/Polaroids.jpg");*/
padding-top: 220px;
background-size: 100%;
padding-bottom: 300px;
}
body > div.ui.purple.inverted.menu{
margin-top:0;
}


/*.clearfix:after {
    clear: both;
}

*/





