<template name="addform">


<script type="text/javascript">
	
$('.ui.form')
  .form({
    name: {
      identifier  : 'name',
      rules: [
        {
          type   : 'empty',
          prompt : 'Please enter a name'
        }
      ]
    },
 
    url: {
      identifier : 'url',
      rules: [
        {
          type   : 'empty',
          prompt : 'Please enter a url'
        }
      ]
    },
  });
</script>
<div class="ui form segment">
  <h3>ADD A POLAROID</h3>
  <div class="two fields">
    <div class="field">
      <label>Name</label>
      <input placeholder="Name of the Kollage" name="name" class="name" type="text">
    </div>

    <div class="field">
    <label>Url of Image</label>
    <input placeholder="Url" name="url" class="url" type="text">
  </div>



  </div>
  <div class="two fields">
  		
  
  <div class="field">
  <label>Category</label>
  	<select class="selectCat">
  <option value="Technology">Technology</option>
  <option value="Travel">Travel</option>
  <option value="Entertainment">Entertainment</option>
  <option value="Business">Business</option>
  <option value="Health">Health</option>
  <option value="Nature">Nature</option>
</select>
  </div>


  </div><br>

  <div class="field">
    <label>Description</label>
   <textarea placeholder="Describe your Kollage" class="description " name="description" rows="6"></textarea>
  </div>
 
  <div class="inline field">
  </div>
    <div class="ui blue submit button">
    <a href="#" class="btn btn-success save" style="color:white;">Save</a>
    </div>
     <div class="ui red submit button">
   <a href="#" class="btn cancel" data-dismiss="modal" style="color:white;">Cancel</a>
    </div>
</div>

</template>