<template name="article">


   <div class="item">
    <div class="ui special cards">
  <div class="card">
    <div class="dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
          {{#if currentUser}}
          <a href="#" class="like">
            <div class="ui inverted button">
        <i class="heart icon"></i> Like
            </div></a> 
             {{/if}}  
          </div>
        </div>
      </div>

  
  <img src="{{src}}"/>
<!--  {{#each images}}  
    <img src="{{src}}" alt="" class="thumbnail" />
  {{/each}} -->


  <script>$('.special.cards .image').dimmer({
  on: 'hover'
});</script>

    </div>
    <div class="content">
      <a class="header" href="/article/{{_id}}" target="_blank">{{name}}</a>
      <div class="meta">
        <span class="date">{{time}}</span><br>
        {{hashtag}}
        <br><a href="/{{category}}"><div class="ui yellow horizontal label">{{category}}</div></a>&nbsp;
       <a href="/article/{{_id}}/">
        <div class="ui blue label">
        <i class="comments outline icon icon"></i> {{numComms}}
        </div>
      </a>&nbsp;
      </div>
    </div>
    <div class="extra content">
      <a>
      
      {{#if currentUser}}   
    <p>
      <a href="#" class="like">
      <i style="color:#564f8a;" class="heart icon"></i>
      </a>
    
    
     <div class="ui purple label">
        <i class="thumbs up icon"></i>{{numlikes}} 
        </div>&nbsp;&nbsp;
        <div class="ui red horizontal label">{{likethis}}</div><br>
      {{#if isAuthor}}
      <a class="remove"><i style="color:#d95c5c;" class="remove icon">{{removeArticle}}</i></a>
      <!--&nbsp;<a class="edit"><i style="color:#d95c5c;" class="write icon"></i></a>-->
          {{/if}}<br>

          
    </p><br>
    {{/if}} 
      </a>
     {{#if currentUser}}
      <div class="ui horizontal divider"><i class="empty star icon"></i>
  </div> 
    <div class="extra content">
    <div class="right floated author">
    Posted by {{userEmail}}
    </div>
  </div>
  {{/if}} 
    </div>
  </div>
</div>

</div>

</template>

