<template name="login">
	<div id="mainGrid">
		<form class="ui form segment" style="opacity:0.9;">
   <div class="two fields">
    <div class="field">
      <label>Username</label>
      <input placeholder="Username" name="username" type="text" class="login-username">
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password" name="password" class="login-password">
    </div></div>
    <div class="inline field">
     <p>Not a member? <a href="/register" style="color:red;">Register</a> now!</p>
    </div>
    <div class="ui blue submit button" id="login">Login</div>
  </form>
	</div>
</template>