<template name="nav">
 <script type="text/javascript">$('.ui.dropdown')
  .dropdown()
;</script>
<div class="ui purple inverted menu">
  <a href="/" class="active item">
    LikeIt!
  </a>
  <a href="/myproject" class="item">
     <i class="home icon"></i>
  </a>
 	{{#if currentUser}}
  <a class="item addInterest ">
<i class="add circle icon"></i>Add Polaroid
  </a>
   <a class="item" href="/login" id="logout">
    Logout
  </a>
  <a href="/profile" class="item">
    <i class="user icon"></i> <u>{{username}}</u>
  </a>
  {{else}}
   <a class="item" href="/login">
    Login
  </a>
  {{/if}}
  
 
  

   <div class="ui pointing dropdown link item">
      <i class="dropdown icon"></i>
      <span class="text">Categories</span>
      <div class="menu">
      {{#each Cat}}
     <a href="/{{catgry}}">   <div class="item catmeow">{{catgry}}</div></a><br>
     {{/each}}
      </div>
    </div>

<a class="item" href="/search">
   <i class="search icon"></i>
    </a>
   
     <script type="text/javascript">$('.ui.dropdown')
  .dropdown()
;</script>


  </div>
</template>
